fastapi
uvicorn
langchain-community
langchain-core
langchain
langchain-google-genai
langchain-pinecone
pinecone
pypdf
python-dotenv
pydantic
python-multipart
certifi
sqlalchemy
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
google-generativeai
google-genai
langchain-classic

