fastapi
uvicorn
langchain-community>=0.4.0
langchain-classic>=1.0.0
langchain-google-genai>=4.2.1
langchain-huggingface
sentence-transformers
langchain-pinecone==0.2.13
pinecone
pypdf
python-dotenv
pydantic
python-multipart
certifi
